* 
{
	margin: 0px;
	padding: 0px;
}

body
{
	/* Background image from from www.subtlepatterns.com */
	background-image: url("img/black-Linen.png");
}

#SignLogForm
{
	border: solid 2px black;
	border-radius: 10px;
	background-color: #98C1D9;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20vh;
	padding: 20px;
	width: 300px;
}


#SignLogForm > input 
{
	height: 30px;
	padding: 0px 10px;
	margin-bottom: 5px;
	border: solid 2px black;
	border-radius: 5px;
	background-color: #DDDDDD;
}

#SignLogForm > input:hover
{
	border: solid 2px white;
	background-color: #EEEEEE;
}

.btn-action
{
	display: none;
}

.btb-logout
{
	display: none;
}

#SignLogForm > button 
{
	margin-top: 15px;
	height: 35px;
	border-radius: 5px;
	background-color: #3D5A80;
	color: white;
	border: solid 2px black;
}

#SignLogForm > button:hover
{
	background-color: #4E6B91;
	border: solid 2px white;
}